// https://github.com/timhartmann/Scss-Styleguide

@charset 'UTF-8';

// Vendor
@import "_vendor/breakpoint/breakpoint";

// Base
@import '_base/mixins',
        '_base/config',
        '_base/presets',
        '_base/common',
        '_base/typography',
        '_base/helpers';

// Layouts
@import '_layouts/l-base';

// Modules
@import '_modules/m-conversational-form';



.site-wrapper {
    height: 100%;
    @include breakpoint($tabletUp) {
        display: flex;
        > div {
            width: 50%;
        }
    }
}

#my-form-element {
    opacity: 0;
    z-index: -1;
    position: fixed;
    height: 0;
    width: 0;
}

.akqa-cf-form {
    border-radius: 70px 0 0 0;
    background: #FF4E50;
    background: linear-gradient(to left, #F9D423, #FF4E50);
    font-size: 2em;
    padding: 5%;
    height: 50%;
    position: relative;
    &:before {
        content: "";
        display: block;
        width: 70px;
        height: 70px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(-70px);
        border-radius: 0 0 70px 0;
        z-index: 9;
    }
    &:after {
        z-index: 8;
        content: "";
        display: block;
        width: 70px;
        height: 70px;
        background: #FF4E50;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(-70px);
    }
    @include breakpoint($tabletUp) {
        height: 100%;
    }
    &__inner {
        height: 100%;
    }
}

.intro-wrapper {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    @include breakpoint($tabletUp) {
        height: 100%;
    }
}

.thanks {
    opacity: .3;
    font-size: rem(10);
}

.m-title {
    font-size: rem(24);
    letter-spacing: .1px;
    word-spacing: .6px;
    margin: 0 auto 15px;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
    display: block;
    margin-bottom: rem(30);
    color: #F9D423;
    background: linear-gradient(to left, #F9D423, #FF4E50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.m-text {
    font-size: rem(13);
    line-height: 1.5;
    letter-spacing: .5px;
    max-width: rem(400);
    font-family: 'Open Sans', sans-serif;
}
