.m-title {
    font-size: rem(22);
    letter-spacing: .1px;
    word-spacing: .6px;
    margin: 0 auto 15px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-bottom: rem(30);
}

.m-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    display: inline-block;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 100%;
    overflow: hidden;
    svg {
        width: rem(80);
        height: rem(80);
        display: block;
    }
}

.m-text {
    font-size: rem(13);
    max-width: rem(400);
    font-family: 'Open Sans', sans-serif;
}
